body {
    font-family: "Roboto", serif;
    display: flex;
    flex-direction: column;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 0 27%;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-left{
    font-size: 24px;
    color: #F9FAF8;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 7%;
    padding: 3% 3%;
    background-color: #1F2937;
}

.section1text {
    display: flex;
    flex-wrap: wrap;
    max-width: 27%;
}

.herotext {
    font-size: 48px;
    color: #F9FaF8;
    font-weight: 900;
}

.herosecondary, .header-right {
font-size: 18px;
color: #E5E7EB;
margin-bottom: 12px;
}

.section2 {
    text-align: center;
    padding: 2% 20%;
    margin-bottom: 3%;
}

.section2header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
  margin-bottom: 32px;
}


.section2items{
    display: flex;
    justify-content: center;
    gap: 5%;
}

.info {
    border-width: 4px;
    border-color: #3882F26;
}

.section2text {
   max-width: 145px; 
}

.quote {
    background-color: #E5E7EB;
    padding: 5% 0%;
}

.quotecontainer{
    display: inline-flex;   
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    font-style: italic;
    padding: 0 30%;
}

.quotetext {
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
}

.thor {
    align-self: flex-end;
    font-weight: bold;
}

.calltoaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    padding: 3% 10%;
    margin: 75px 200px;
    gap: 15px;
    border-radius: 7px;
    overflow: hidden;
}
.actioncontainer {
    flex-wrap: nowrap;
}

.actionheader {
    font-size: 24px;
    font-weight: 900;
}

.actiontext {
    font-size: 18px
}

.actiontext, .actionheader, .signup2 {
    color: #F9FAF8;
}

.signup2 {
    border-color: #F9FAF8;
    
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    overflow: hidden;
    padding: .5% 1.5%
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 1% 27%;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}


